absl-py==2.3.0
accelerate==1.7.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.2
aiosignal==1.3.2
annotated-types==0.7.0
anytree==2.13.0
appdirs==1.4.4
astunparse==1.6.3
async-timeout==5.0.1
attrs==25.3.0
autocommand==2.2.2
backports.tarfile==1.2.0
beautifulsoup4==4.13.4
bert-score==0.3.13
bioc==2.1
blis==0.7.11
boto3==1.38.24
botocore==1.38.24
bottleneck==1.4.2
brotli==1.1.0
cachetools==5.5.2
catalogue==2.0.10
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
click==7.1.1
cmake==4.0.2
confection==0.1.5
conllu==4.5.3
contourpy==1.3.0
cycler==0.12.1
cymem==2.0.11
datasets==2.4.0
deprecated==1.2.18
dill==0.3.5.1
docker-pycreds==0.4.0
docopt==0.6.2
editdistance==0.8.1
filelock==3.18.0
flair==0.15.1
flashtext==2.7
flatbuffers==25.2.10
fonttools==4.58.0
frozenlist==1.6.0
fsspec==2025.5.1
ftfy==6.3.1
fuzzywuzzy==0.18.0
gast==0.6.0
gdown==5.2.0
gitdb==4.0.12
gitpython==3.1.44
google-auth-oauthlib==1.0.0
google-auth==2.38.0
google-pasta==0.2.0
grpcio==1.71.0
h2==4.2.0
h5py==3.13.0
hf-xet==1.1.2
hpack==4.1.0
huggingface-hub==0.32.2
hyperframe==6.1.0
idna==3.10
importlib-metadata==3.2.0
importlib-resources==6.5.2
inflect==7.3.1
intervaltree==3.1.0
jaraco.collections==5.1.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
jaraco.text==3.12.1
jieba==0.42.1
jinja2==3.1.6
jmespath==1.0.1
joblib==1.5.1
jsonlines==4.0.0
keras==3.10.0
kiwisolver==1.4.7
langcodes==3.5.0
langdetect==1.0.9
language-data==1.3.0
language-tool-python==2.9.3
lemminflect==0.2.3
libclang==18.1.1
lit==18.1.8
lru-dict==1.3.0
ltp-core==0.1.4
ltp-extension==0.1.13
ltp==4.2.14
lxml==5.4.0
marisa-trie==1.2.1
markdown-it-py==3.0.0
markdown==3.3.4
markupsafe==3.0.2
matplotlib==3.9.4
mdurl==0.1.2
ml-dtypes==0.4.1
more-itertools==10.7.0
morfessor==2.0.6
mpld3==0.5.10
mpmath==1.3.0
multidict==6.4.4
multiprocess==0.70.13
murmurhash==1.0.13
namex==0.1.0
narwhals==1.41.0
networkx==3.2.1
nltk==3.6.3
num2words==0.5.14
numexpr==2.10.1
numpy==1.24.3
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
oauthlib==3.2.2
openhownet==2.0
opt-einsum==3.4.0
optree==0.15.0
packaging==25.0
pandas==2.0.3
pathlib-abc==0.1.1
pathtools==0.1.2
pathy==0.11.0
pillow==11.2.1
pinyin2hanzi==0.1.1
pinyin==0.4.0
pip==25.0
platformdirs==4.3.7
plotly==6.1.2
pooch==1.8.2
pptree==3.1
preshed==3.0.10
propcache==0.3.1
protobuf==4.25.6
psutil==7.0.0
pyarrow==20.0.0
pyasn1-modules==0.4.1
pyasn1==0.6.1
pycld2==0.42
pycparser==2.22
pydantic-core==2.33.2
pydantic==2.11.5
pygments==2.19.1
pyparsing==3.2.3
pypinyin==0.54.0
pysocks==1.7.1
python-dateutil==2.9.0.post0
pytorch-revgrad==0.2.0
pytz==2025.1
pyyaml==6.0.1
regex==2024.11.6
requests-oauthlib==2.0.0
requests==2.32.3
responses==0.18.0
rich==14.0.0
rsa==4.9
s3transfer==0.13.0
safetensors==0.5.3
scikit-learn==1.6.1
scipy==1.11.1
segtok==1.5.11
sentencepiece==0.1.99
sentry-sdk==2.29.1
setproctitle==1.3.6
setuptools==80.9.0
six==1.16.0
smart-open==6.4.0
smmap==5.0.2
sortedcontainers==2.4.0
soupsieve==2.7
spacy-legacy==3.0.12
spacy-loggers==1.0.4
spacy==3.6.1
sqlitedict==2.1.0
srsly==2.5.1
sympy==1.14.0
tabulate==0.9.0
tensorboard-data-server==0.7.2
tensorboard==2.17.0
tensorflow-estimator==2.13.0
tensorflow-hub==0.16.1
tensorflow-io-gcs-filesystem==0.37.1
tensorflow==2.17.0
termcolor==3.1.0
terminaltables==3.1.10
textattack==0.3.8
textflint==0.1.0
tf-keras==2.17.0
thinc==8.1.12
threadpoolctl==3.6.0
tokenizers==0.13.3
toml==0.10.2
tomli==2.0.1
torch==2.0.0
tqdm==4.66.1
transformer-smaller-training-vocab==0.4.1
transformers==4.31.0
triton==2.0.0
typeguard==4.3.0
typer==0.9.4
typing-extensions==4.13.2
typing-inspection==0.4.1
tzdata==2025.2
urllib3==1.26.20
wandb==0.15.9
wasabi==1.1.3
wcwidth==0.2.13
werkzeug==3.1.3
wheel==0.45.1
wikidata==0.8.1
wikipedia-api==0.8.1
word2number==1.1
wrapt==1.17.2
xxhash==3.5.0
yarl==1.20.0
zipp==3.22.0
zstandard==0.23.0